# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
*.pot
*.log
*.egg-info/
dist/
build/

# c++
*.o 
*.exe 
*.dll 
*.obj 
*.so 
*.out 
*.a 
*.lib 
*.pdb 
*.ilk 
*.idb 
*.suo 
*.sdf 
*.exp 
*.map 
*.ipch 
*.opensdf 
*.stackdump 
*.bak 
Debug/ 
Release/ 
x64/ 
.vs/

# UE5
/Saved/
/Intermediate/
/Binaries/
/DerivedDataCache/
/.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.bak
*.tmp
*.log
*.vspx
*.user

